$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }


  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .admin-main,.admin-page,.adminPage{
    width:600px;
  }
  #form{
    width:630px;
  }
}
@media screen and (max-width: 767px){
  .admin-main,.admin-page,.adminPage,#form{
    width:96%;
  }
}
/*admin page style*/
.admin-header{
  height: 80px;
  width:96%;


  p{
font-family:"Microsoft YaHei UI Light";
    color: gray;
    text-align: center;
    font-size: 30px;
  }
}

.adminPage{
  height:100%;
  width:100%;
  background: url("/images/admin/adminbackground.jpg");
  background-size: auto;
  overflow: scroll;
  overflow-x:hidden;
  .admin-main{
   // width: 600px;
    margin-top:80px;
    margin-left:auto;
    margin-right:auto;
    padding:40px;
    background: rgba(255,255,255,0.8);
    background-attachment: fixed;
    border-radius: 5px;
    .inputForm{

      font-family:"Microsoft YaHei UI Light";
      font-size:20px;
      color:gray;
    }
  }
  .admin-page{
    margin-top:10px;

    margin-left:auto;
    margin-right:auto;
    padding:10px 40px;
    background: rgba(255,255,255,0.8);
    border-radius: 8px;
    color: dimgray;

    .title{
      font-family:"Microsoft YaHei UI";
      border-bottom: darkgray solid 0.5px  ;
      p{
        font-size:5px;
        color: darkgray;
      }
    }
    .body{
      font-family:"Microsoft YaHei UI";
    }

  }

}

div{
  font-family:"Microsoft YaHei UI Light";
}








/*alertErrorCSS*/


.alert{
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: scale(2,2);
  -moz-transform: scale(2,2);
  -ms-transform: scale(2,2);
  -o-transform: scale(2,2);
  transform: scale(2,2);
  opacity: 0;
  display: none;
  height:100%;
  width:100%;
  position: fixed;
  top:0;
  margin:0;
  padding:0;
  background: rgba(0,0,0,0.6);
  .alertMain{
    position: absolute;
    top:30%;
    left:35%;
    height:30%;
    width:30%;
    background: white;
    border-radius: 5px;
    .closeButton{
      background: white;
      border-top:grey solid 0.5px;
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
      position: absolute;
      bottom: 0;
      height:3em;
      width:100%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      font-family: "Microsoft YaHei UI Light";
      font-size:20px;
    }
  }
}
.alert-active{
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
